# ignore everything except later specified files and directories
*

# exceptions 
!.gitignore
!.zshrc

!.config/
!.config/polybar/
!.config/polybar/config
!.config/rofi/
!.config/rofi/config
!.config/i3
!.config/i3/config

!.vim/
!.vim/UltiSnips/
!.vim/UltiSnips/*

!.vimrc

