# ignore everything except specified files and directories
*

# exceptions 
!.gitignore
!.zshrc

!.config/
!.config/polybar/
!.config/polybar/config
!.config/rofi/
!.config/rofi/config
!.config/i3/
!.config/i3/config
!.config/nvim/
!.config/nvim/init.vim
!.config/neofetch/
!.config/neofetch/config.conf

!.vim/
!.vim/UltiSnips/
!.vim/UltiSnips/*

!.vimrc

!.scripts/
!.scripts/*

