snippet box "Box"
" `!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
" │ $1 │
" `!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

snippet func "function!" b
function! ${1:name}($2)
	$0
endfunction
endsnippet
